@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{

    <div style="background-color:white; margin-top:200px;">
        <div style="margin-left:10px; margin-right:10px; padding-top:15px;">
            <div class="form-group">
                @Html.LabelFor(m => m.KATEGORIID)
                @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.KATEGORIAD)
                @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
            </div>
            <div>
                <button class="btn btn-success">
                    Kategori Günccelle
                    <style>
                        .btn-success {
                            margin-bottom:10px;
                            background-color: green;
                            border-color: green;
                            color: white;
                            font-weight: bold;
                            border-radius: 75px;
                        }

                            .btn-success:hover {
                                background-color: white;
                                border-color: white;
                                color: green;
                                transition: 0.3s;
                            }
                    </style>
                </button>
            </div>
        </div>
    </div>
}