
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<html lang="en">
<head>
    <title>CBU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background-image: url('../../Content/image1.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CBU</a>
            </div>
            <ul class="nav navbar-nav ">
                <li><a href="/Kategori/Index/">KATEGORİLER</a></li>
                <li><a href="/Urun/Index/">KİTAPLAR</a></li>
                <li><a href="/Musteri/Index/">MÜŞTERİLER</a></li>



            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>



























@*<li><a href="Satis/Index/">Satışlar</a></li>*@
@*<li><a href="/Default/Index/">Yardım</a></li>*@